.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-main-header {
  text-align: left;
  padding: 5px 100px;
  background-color: #d6d4b1; 
  color: #fff; 
  font-family: 'Arial', sans-serif; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  position: relative; 
  width: auto;
  bottom: 0;
}

.App-header {
  background-image: url('background-image/Varicose_Veins_BG.png');
  background-size: cover; 
  background-position: bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.App-header h1 {
  position: relative;
  top: 10px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0px 0;
  color: #282c34;
  text-align: center;
  z-index: 1000;
}

.content {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  width: 100%;
}
.instructions {
  font-size: 20px; 
  flex: 1;
  padding: 2%;
  box-sizing: border-box;
}

.upload, .results {
  flex: 1;
  padding: 2%;
  align-items: center;
  box-sizing: border-box;  
}

.imagePreview {
  max-width: 100%; 
  height: auto;
}
.classifyButton {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px; 
  cursor: pointer;
}
.imageInput {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #d6d4b1; 
  color: white;
  border-radius: 10px; 
  border: 2px solid #d6d4b1; 
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s; 
}

.imageInput:hover {
  background-color: #8d9179; 
  
}
.clearButton {
  background-color: #f44336; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px; 
  cursor: pointer;
}

.classifyButton:hover, .clearButton:hover {
  opacity: 0.8; 
}
.viewTreatmentButton {
  background-color: #4e9cbd; 
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.viewTreatmentButton:hover {
  opacity: 0.8;
}
.resultContainer {
  background-color: white; 
  padding: 20px; 
  border: 1px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  margin-top: 20px;
  max-width: 400px; 
}

@media screen and (min-width: 1200px) {
  .App-main-header, .App-footer {
    padding: 5px 150px; 
   }
}

@media screen and (max-width: 480px) {
  .App-main-header, .App-footer {
    padding: 5px 20px; 
  }
  .App-header {
    display: flex;
  }

  .App-header h1 {
    font-size: clamp(16px, 8vw, 22px);
  }

  .nav-links li {
    margin-right: 10px;
  }
}
.App-link {
  color: #508ba7;
}
.App-footer {
  text-align: center;
  padding: 20px 10px;
  background-color: #d6d4b1; 
  color: #fff; 
  font-family: 'Arial', sans-serif; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  position: relative; 
  width: auto;
  bottom: 0;
}

.App-footer a {
  color: #508ba7; 
  text-decoration: none; 
  font-weight: bold; 
}

.App-footer a:hover, .App-footer a:focus {
  text-decoration: underline; 
  color: #fff; 
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}
.nav-links li:last-child {
  margin-right: 0; 
}
.nav-links li a {
  text-decoration: none;
  color: #FFF; 
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.App-main-header img.icon {
  height: 40px; 
  width: auto; 
  vertical-align: middle; 
}
